body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background: rgb(2, 3, 17);
    background-size: 400% 400%;
    color: white;
    font-family:'Pixeboy', monospace;
}


#container{
    align-items: center;
    text-align: center;
    padding: 20px;
    margin:auto;
    border-radius: 10px;
    width: fit-content;
    height: auto;
    border: #16153b 1px solid;
    font-family:'Pixeboy', monospace;


    
}
#title{
  
color: rgb(73, 73, 173);
}
  
    
#startButton{
    background-color: rgb(73, 73, 173);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    
}
#userInput{
    padding: 10px;
    margin: auto;
    font-size: 18px;
    width: 160px;
    margin-top: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid #3a3232;
}
#results{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    gap: 10px;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Pixeboy', monospace;
   
    
}#results li {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #3a3232;
    border-radius: 8px;
    background-color: black;
}

#colorLegend {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;
    font-size:14px;
    padding: 5px 10px;
    border-radius: 10px;
    width: fit-content;
}

#colorLegend h3 {
    margin-bottom: 8px;
    font-size: 16px;
    color: white;
}

#colorLegend ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#colorLegend li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 12px;
}

.legend-box {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px;

}


.legend-box.correct {
    background-color: green;
}
.legend-box.misplaced {
    background-color: blue;
}
.legend-box.wrong {
    background-color: red;
}

#message{
    margin-top: 10px;
    font-size: 1rem;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: white;
    font-size: 12px;
    margin: 10px 0;
    font-family: 'Pixeboy', monospace;
}