body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background: rgb(99, 98, 98);
    background-size: 400% 400%;
    color: black;
    font-family:'Pixeboy', monospace;
}

#bar {
    padding: 5px 5px;
    height: auto;
    text-align: center;
   
}
#bar h1 span {
    color: white;
    font-weight: bold;
}
#container{
    align-items: center;
    text-align: center;
    padding: 20px;
    margin:auto;
    border-radius: 10px;
    width: fit-content;
    height: auto;
    border: black 1px solid;
    font-family:'Pixeboy', monospace;
    font-size: 24px;
   
}
#container p{
    font-size: 18px;
    margin-top: 0;
    width: 400px;
    
}
@keyframes flicker {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.7; }
}
#title {
  color: rgb(68, 184, 68);
  animation: flicker 2s infinite;
  font-family: 'Share Tech Mono', monospace;
}
  
    
#startButton{
    background-color: rgb(68, 67, 67);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    
}
#startButton:hover{
    background-color: rgb(43, 41, 41);
}
#userInput{
    padding: 10px;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    width: 160px;
    margin-top: 10px;
    background-color: transparent;
    color: black;
    border: 1px solid #3a3232;
}
#results{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    gap: 10px;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Pixeboy', monospace;
   
    
}#results li {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #3a3232;
    border-radius: 8px;
    background-color: rgb(37, 37, 37);
}

#colorLegend {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;
    font-size:14px;
    padding: 5px 10px;
    border-radius: 10px;
    width: fit-content;
}

#colorLegend h3 {
    margin-bottom: 8px;
    font-size: 16px;
    color: black;
}

#colorLegend ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#colorLegend li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 12px;
}

.legend-box {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px;

}


.legend-box.correct {
    background-color: green;
}
.legend-box.misplaced {
    background-color: blue;
}
.legend-box.wrong {
    background-color: red;
}

#message{
    margin-top: 10px;
    font-size: 1rem;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: black;
    font-size: 12px;
    margin: 10px 0;
    font-family: 'Pixeboy', monospace;
}

.keypad {
  display: grid;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}

.keypad .row {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.num-btn, #clearBtn, #enterBtn {
width: 50px;
height: 50px;
font-size: 1.5rem;
border: none;
border-radius: 10px;
background-color: #333;
color: white;
cursor: pointer;
transition: background-color 0.2s ease;
}

.num-btn:hover, #clearBtn:hover, #enterBtn:hover {
background-color: #555;
}
